<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>



<blockquote class="twitter-tweet" lang="en"><p>At 4.00PM all church&#39;s bells in France are ringing. The mobilization has start. <a href="http://t.co/HTWZTCvDM4">pic.twitter.com/HTWZTCvDM4</a></p>&mdash; RealTimeWWI (@RealTimeWWI) <a href="https://twitter.com/RealTimeWWI/statuses/495221309966917632">August 1, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>





</body>
</html>