body {

background-image:url('http://upload.wikimedia.org/wikipedia/commons/0/07/II_Kauno_fortas.The_second_fort_of_Kaunas.jpg');

}

#tweet {

  text-align:center;
  background-color:white;
  border-style:solid;
  border-padding:20px;
  border-margin:40px;
  border-radius:5px;
  font-family:Georgia;
  font-size:20px;

}

.twitter-tweet {

  text-align:center;

}